## Ignore Visual Studio SSDT sqlproj specific temporary files, build results, etc
##
##
## Get latest from https://github.com/github/gitignore/blob/master/SSDT-sqlproj.gitignore
# Build output
bin/
obj/

# DACPAC files
*.dacpac

# Publish profiles (optional, if environment-specific)
*.publish.xml

# SQL Server debug files
*.dbmdl
*.sqlcmdvars

# Visual Studio settings
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Backup files
*.bak
*.log



# Contraseñas locales
.env

# Datos (pesados, se descargan o generan)
data/raw/*
data/generated/*
!data/raw/.gitkeep
!data/generated/.gitkeep

# Python
__pycache__/
*.pyc
.venv/